* {
  font-family: 'Roboto', sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  width: 20rem;
  color: rgb(50, 100, 20);
  padding: 0.6rem;
  border: 4px dashed hsl(90, 96%, 32%);
  border-radius: 10px;
  transition: 1s all cubic-bezier(.11, .83, 1, 1);
}

h1:hover {
  color: red;
  font-size: 4em;
}

h2 {
  color: #f1c40f;
}

body {
  background-color: aliceblue;
}


#product-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-end;
}

@media screen and (max-width: 400px) {
  #product-list {
    flex-direction: column;
    align-items: center;
  }
}

#product-list > div {
  width: 100px;
  height: 100px;
  background-color: #f1c40f;
  flex-shrink: 0;
}

#ma-grid {
  display: grid;
  grid-template-columns: 10vw 10vw 50px auto;
  grid-template-rows: 10rem 10rem 10rem;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  #ma-grid {
    grid-template-columns: 1fr 1fr;
  }

  #le-dernier-element {

  grid-column-start: 2;
  grid-column-end: 3;
  }
}

#ma-grid > div {
  background-color: aquamarine;
}

#le-dernier-element {
  overflow: scroll;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

#sidebar {

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

#grades {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1.2rem;
  background-color: antiquewhite;
  border: 2px solid red;
  border-radius: 0.8rem;
}